.NavBar {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  transition: all 1s;
  transition-timing-function: ease-in;
  background: rgba(28, 28, 28, 0.4);
}
.NavBarBG {
  background: rgba(28, 28, 28, 0.96);
}
.link {
  color: #dedac6;
  width: 10rem;
  text-align: center;
}
.link:hover {
  color: #dedac6;
  background: #56595c;
  text-decoration: none;
}
