.NavBar{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    transition: all 1s;
    transition-timing-function: ease-in;
}
.NavBarBG{
    background: rgba(13, 1, 8, 0.91);
}
.link{
    color: #dedac6;
    /*font-size: 1.5rem;*/
    width: 10rem;
    /*padding: .5rem;*/
    text-align: center;
    /*margin: 0 3rem;*/
}
.link:hover{
    color: #dedac6;
    background: #521437;
    text-decoration: none;
}

