.MoviesBtns{
    width: 90%;
    margin: 0 auto 3rem;
    text-align: center;
}
.Movies button{
    /*width: 15rem;*/
    /*padding: 1rem;*/
    /*font-size: 1.5rem;*/
    /*margin: .5rem;*/
    border: double #521437;
    color: #521437;
    background: white;
    font-weight: bold;
    outline: none;
}
.hide{
    display: none;
}
.MoviesBtns .active{
    background: #521437;
    color: #FFF2E7;
}












